
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Foods Index</title>
  </head>
  <body>
    <h1>All Foods</h1>
    <ul>
      <% foods.forEach(food => { %>
        <li><a href="/foods/<%=food.id %>"><%= food.name %></a></li>
      <% }); %>
    </ul>
    <a href="/foods/new" class="button">Add New Food</a>
  </body>
  
</html>
